# Dependencies
node_modules/

# iOS
ios/Pods/
ios/build/
*.xcworkspace
*.xcuserdata

# Android
android/.gradle/
android/app/build/
android/build/

# Metro
.metro-health-check*

# Bundle
*.jsbundle

# Debug
npm-debug.log*

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Testing
coverage/
